.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
.icon{
  color: #C04545;
}

.btn {
  background: #e0484d;
  background-image: -webkit-linear-gradient(top, #e0484d, #a11e1e);
  background-image: -moz-linear-gradient(top, #e0484d, #a11e1e);
  background-image: -ms-linear-gradient(top, #e0484d, #a11e1e);
  background-image: -o-linear-gradient(top, #e0484d, #a11e1e);
  background-image: linear-gradient(to bottom, #e0484d, #a11e1e);
  -webkit-border-radius: 41;
  -moz-border-radius: 41;
  border-radius: 41px;
  text-shadow: 1px 1px 3px #666666;
  font-family: 'Indie Flower', cursive;;
  color: #ffffff;
  font-size: 20px;
  padding: 15px 23px 15px 23px;
  text-decoration: none;
}

.btn:hover {
  background: #c93267;
  background-image: -webkit-linear-gradient(top, #c93267, #9c2261);
  background-image: -moz-linear-gradient(top, #c93267, #9c2261);
  background-image: -ms-linear-gradient(top, #c93267, #9c2261);
  background-image: -o-linear-gradient(top, #c93267, #9c2261);
  background-image: linear-gradient(to bottom, #c93267, #9c2261);
  text-decoration: none;
}
